body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* === Global styles */
.underline {
    text-decoration: underline;
}

.container {
    max-width: 50vw;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

img {
    max-width: 90%;
}

/* === Nav/title bar === */
.navbar {
    text-align: center;
    background-color: #9A7DCF;
    padding: 1.25em;
    font-size: 1.125em;
}

.navbar-container {
    width: 50%;
    margin: 0 auto;
    padding: .5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.link {
    font-size: 1.25rem;
    display: inline-block;
    padding: .3em .45em;
    margin-bottom: .5em;
    background-color: antiquewhite;
    font-weight: 700;
    text-decoration: none;
}

.current-link {
    text-decoration: underline;
}

.link:hover,
.link:focus {
    background-color: burlywood;
}

.current-link:hover,
.current-link:focus {
    background-color: antiquewhite;
}

@media (min-width: 700px) {
    .navbar-container {
        flex-direction: row;
    }
}
/* === Main-content */
.main-content {
    background-color: #F4D7D9;
    padding: .25em 1em;
}

#fetchForm {
    padding: 1em;
}

/* Anime Info (Card-style) */
.animeInfo {
    padding: 1em;
}

.animeDetails {
    margin-top: 1em;
}

.animeTrailer {
    display: inline-block;
}
#animeLink {
    /* TODO: make the link look like a button! */
}

#animeLink:hover,
#animeLink:focus {
    color: red;
}

#score {
    font-weight: 400;  
}

#queryError {
    font-weight: 700;
}

.hidden {
    display: none;
}